.wrapper{
    margin: 0;
    padding: 0;
}
.container-fluid {
    width: 100%;
    height: 100px;
    padding-right: 330px;
    padding-left:330px;
    box-shadow: 0px 3px 84px rgba(0, 0, 0, 0.07);
}

.header-grid{
    display: inline-block;
    width: 100%;
}
.header-grid > div {display: inline-block;}

.headerLogo{
    width: auto;
    height: auto;
    float: left;
    margin-top:30px;
}

.catalog{
    
    float: left;
    margin-left: 34px;
}
.catalog > div{
    display: inline-block;
}
.catalogName{
    margin-top: 41px;
    margin-left: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
line-height: 20px;
}

.number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    float: left;
    margin-top: 41px;
    margin-left: 65px;
}
.nubmer > div{
    display: inline-block;
}

.workTime{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    float: left;
    margin-top: 41px;
    margin-left: 29px;
    color: #8B8B8B;
}
.workTime > div{
    display: inline-block;
}

.delivery{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    float: left;
    margin-top: 41px;
    margin-left: 65px;
}
.delivery > div{
    display: inline-block;
}
