.footer{

width: 100%;
height: 186px;
left: 0px;
top: 100%;
float: left;
overflow: hidden;
background: #F0F0F0;
}
li{list-style-type: none;}


.firstColumn{
text-align: left;   
float: left;
width: 242px;
height: 20px;
margin-left: 289px;
margin-top:32px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #000000;

}
.secondColumn{
    float: left;
    width: 242px;
    height: 140px;
    left: 329px;
    margin-top:32px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #000000;
}
.thirdColumn{

    float: left;

width: 242px;
height: 140px;
left: 897px;
margin-top:32px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;

color: #000000;
}
.fourthColumn{
    float: left;
    width: 242px;
    height: 140px;
    margin-left: 30px;
   
    margin-top:32px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    
    color: #000000;
}

.fifthColumn{
    float: left;
    margin-left: 279px;
    margin-top:32px;
}
.fifthColumn span{
    margin-bottom:0px;
}