#catalog{
    width: auto;
    height: auto;
    margin-left: 330px;
    margin-bottom: 54px;
    float: left;
}
#catalog > div{
    display: inline-block;
}
.productCatalog{
    width: 975px;
    height: auto;
    float:left;
    margin-left: 40px;
}
.productCatalog > div{
    display: inline-block; 
}   








