#catalog{
    width: 1260px;
    height: 935px;
    margin-left: 330px;
    margin-right: 330px;
    float: left;
}
#catalog > div{
    display: inline-block;
}
.productCatalog{
    width: 935px;
    height: 1030px;
    float:left;
    margin-left: 40px;
}
.productCatalog > div{
    display: inline-block; 
}   
.products{margin-top: 20px;}
.allProducts{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
/* identical to box height */
    float: left;

    color: #000000;
}
.filterName{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */


/* Gray 139 */

color: #8B8B8B;
}
.amount{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 12px;
    margin-left: 3px;
/* identical to box height */
    float: left;

/* Gray 168 */

    color: #A8A8A8;
}
.amountBlock{
    float: left;
    margin-top: 32px;
}
.amountBlock > span{
    display: inline-block;
}
.filterBlock{
    position:fixed ;
    float: left;
    margin-top: 40px;
    margin-left:576px;
    width: auto;
    height: 40px;
}
.description{
    height: 50px;
    width: 940px;
}
.description > div {
    display: inline-block;
}
summary::-webkit-details-marker {
    display: none
}
.summaryList{
    background-color: #fff;
    width: 250px;
    height: 100px;
}


summary::after {
    content: url("/down.svg");

    transition: transform 0.3s;
    will-change: transform;
    float:left;
    margin-right: 17px;
}

details[open] summary::after    {
    transform: rotate(360deg);
    content: url("/up.svg");
}
.item{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */
margin-top: 20px    ;

color: #000000;
margin-top: 14px;
}

